@using Microsoft.Extensions.Localization
@using SimpleProject.Resources
@inject IStringLocalizer<SharedResources> _sharedResources;
@model IEnumerable<GetProductListViewModel>

<partial name="_Notifications"></partial>
<h1>@ViewBag.UserName</h1>
<div>
    <p>
        <a asp-action="Create" class="btn btn-success">Create New</a>
    </p>
    <div class="d-flex">
        <div>
            <form asp-action="Index" method="get">
                <input type="text" id="search" name="search" value="@ViewBag.currentSearch" placeholder="search ..." />
                <input type="submit" value="search" />
            </form>
        </div>
        <div>
            <input type="text" id="searchtext" value="@ViewBag.currentSearch" placeholder="search Using special event" />
        </div>
    </div>
   
</div>

<div id="productData">
    @await Html.PartialAsync("_ProductList",Model)
</div>

<script>
    $(document).ready(function(){
        $("#searchtext").on('input', function () {
            var searchString = $(this).val();
            $.ajax({
                url:'@Url.Action("searchProductList","Product")',
                type:'Get',
                data: { searchText: searchString },
                success: function (data) {
                    var itemList = $('#productList');
                    itemList.empty();
                    $.each(data.result, function (index, item) {
                        console.log(item)
                        var row = '<tr>' +
                            '<td>' + item.id + '</td>' +
                            '<td>' + item.name + '</td>' +
                            '<td>' + item.price + '</td>'+
                            '<td> <a href="/Product/Details/' + item.id+'"class="btn btn-info">Details</a></td>'+
                            '<td> <a href="/Product/Update/' + item.id + '"class="btn btn-primary">Update</a></td>' +
                            '<td> <a href="/Product/Delete/' + item.id + '"class="btn btn-danger">Delete</a></td>'
                            + '</tr>';
                            itemList.append(row)
                    });
                }
            })
        })
    })
</script>
