@model AddCategoryViewModel

<div>
    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <label asp-for="NameAr"></label>
            <input asp-for="NameAr" class="form-control" />
            <span asp-validation-for="NameAr" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="NameEn"></label>
            <input asp-for="NameEn" class="form-control" />
            <span asp-validation-for="NameEn" class="text-danger"></span>
        </div>
      
        <div class="mt-3">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>

    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScript");
    }
}
